<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Welcome, <%= user.name %></h1>
    <form action="/user=<%=user.id%>" method="GET">
        <button>Open my profile</button>
    </form>
 
    <% entries.forEach(function(entry) { %>
        <%= entry.name %> <br>
        <%= entry.desc %> <br>
         <!-- <% entry.participants.forEach(function(participant) { %>
            <%= participant.name %> 
            <br>
             <input><input>
            <button> Pay </button>
            <br>
        <% }); %>  -->
        <%= entry.data %> <br>
        <br>
    <% }); %> 


</body>
</html>