<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Welcome, <%= user.name %></h1>
    <form action="/user=<%=user.id%>" method="GET">
        <button>Open my profile</button>
    </form>

    <button>create new entry</button>

    <% entries.forEach(function(entry) { %>
        <%= entry.name %> <br>
        <%= entry.desc %> <br>
        <%= entry.date %> <br>
        <br>
    <% }); %>

</body>
</html>